.Chat__message_name
  .Chat__message_name__box
    .Chat__message_name__box__name
      = message.user.name
      .Chat__message_name__box__name__time
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .Chat__message
      -if message.content.present?
        %p.Chat__message__content
          = message.content
      = image_tag message.image.url,class: 'Message__image' if message.image.present?
  