.Side-bar
  .Side-bar__user_name
    .Side-bar__user_name__top_items
      .Side-bar__user_name__top_items__name
        masa
      = link_to "#", class: "Side-bar__user_name__top_items__icons" do
        = icon('fas', 'edit')  
      =link_to "#", class:"Side-bar__user_name__top_items__icons" do
        = icon('fas','cog')
  .Side-bar__group_list
    .Side-bar__group_list__name
      teachcamp
    .Side-bar__group_list__messages
      まだメッセージがありません